<app-spinner *ngIf="loading"></app-spinner>


<ng-container *ngIf="!loading">

  <div class="profile-container" *ngIf="editMode">
    <p *ngIf="apiError" class="error serverErrors">{{apiError}}</p>
    <h2 class="info-title">Profile Edit</h2>
    <form class="edit-form" #formEdit="ngForm" (submit)="editUser(formEdit)">

      <label for="Email">User email:</label>
      <div class="flex-input">
        <input type="email" name="email" id="email" placeholder="Email" #emailInput="ngModel" [ngModel]="user?.email"
          readonly>
      </div>

      <label for="username">Username:</label>
      <div class="flex-input">
        <input type="username" name="username" id="username" placeholder="Username" #usernameInput="ngModel"
          [ngModel]="user?.username" minlength="5" required>
        <div class="info">
          <i *ngIf="usernameInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
          <div class="popuptext" *ngIf="usernameInput.errors">
            <p [ngClass]="usernameInput.errors['required'] ? 'error' : 'correct'">The username is required!</p>
            <hr>
            <p [ngClass]="(usernameInput.errors['minlength'] || usernameInput.value === '') ? 'error' : 'correct'">The
              username must be at least 5
              characters!</p>
          </div>
        </div>
      </div>

      <label for="accountname">Account name:</label>
      <div class="flex-input">
        <input type="accountname" name="accountname" id="accountname" placeholder="AccountName"
          #accountNameInput="ngModel" [ngModel]="user?.accountName" minlength="5" required>
        <div class="info">
          <i class="fa-solid fa-circle-info fa-xl" style="color: #008000;"></i>
          <div class="popuptext">
            <p *ngIf="!user?.accountNameChanged">You can change the account name only once. Make sure this is the
              acount
              name you want!</p>
            <p *ngIf="user?.accountNameChanged">You have changed the acount name alredy!</p>
          </div>
        </div>
        <div class="info" *ngIf="accountNameInput.errors">
          <i *ngIf="!accountNameInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
          <i *ngIf="accountNameInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
          <div class="popuptext">
            <p [ngClass]="accountNameInput?.errors?.['required'] ? 'error' : 'correct'">The username is required!
            </p>
            <hr>
            <p
              [ngClass]="(accountNameInput?.errors?.['minlength'] || accountNameInput.value === '') ? 'error' : 'correct'">
              The account name must be at least 5 characters!
            </p>
          </div>
        </div>
      </div>

      <label for="country">Which country do you live in?</label>
      <div class="flex-input">
        <select name="country" id="country" [ngModel]="user?.country" #countryInput="ngModel" required>
          <option [ngValue]="null" disabled>Country...</option>
          <option *ngFor="let country of countries" [ngValue]="country" (selected)="country==user?.country">
            {{country}}
          </option>
        </select>
      </div>

      <label for="gender" required>Gender:</label>
      <div class="flex-input">
        <div id="gender">
          <div id="gender">
            <input type="radio" id="male" name="gender" value="M" [ngModel]="user?.gender" #genderInput="ngModel"
              required>
            <label for="html">Male</label>
            <input type="radio" id="female" name="gender" value="W" [ngModel]="user?.gender" #genderInput="ngModel"
              required>
            <label for="css">Female</label>
            <input type="radio" id="unknown" name="gender" value="unknown" [ngModel]="user?.gender"
              #genderInput="ngModel" required>
            <label for="unknown">Prefer not to say</label>
          </div>
        </div>
      </div>

      <button class="btn-cancel" (click)="toggleEditMode()">Cancel</button>
      <button class="submit">Submit</button>
    </form>
  </div>


  <div class="profile-container" *ngIf="!editMode">
    <h2 class="info-title">Profile Info</h2>

    <div class="info-profile-container">

      <p class="label">User email:</p>
      <p class="info">{{user?.email}}</p>

      <p class="label">Username:</p>
      <p class="info">{{user?.username}}</p>


      <p class="label">Country:</p>
      <p class="info">{{user?.country}}</p>

      <p class="label">Gender:</p>
      <p class="info">{{user?.gender}}</p>

      <p class="label">Account Name:</p>
      <p class="info">{{user?.accountName}}</p>

    </div>

    <button class="btn-edit" (click)="toggleEditMode()">Edit</button>
  </div>
</ng-container>