<app-spinner *ngIf="loading"></app-spinner>


<ng-container *ngIf="!loading">

  <div class="profile-container" *ngIf="editMode">
    <p *ngIf="apiError" class="error serverErrors">{{apiError}}</p>
    <h2 class="info-title">Profile Edit</h2>
    <form [formGroup]="form" (submit)="editUser()" class="edit-form">

      <label for="Email">User email:</label>
      <div class="flex-input">
        <input type="email" formControlName="email" id="email" placeholder="Email" readonly>
      </div>

      <label for="username">Username:</label>
      <div class="flex-input">
        <input type="username" formControlName="username" id="username" placeholder="Username">
      </div>

      <label for="accountname">Account name:</label>
      <div class="flex-input">
        <input type="accountname" formControlName="accountname" id="accountname" placeholder="AccountName"
          [readonly]="user?.accountNameChanged">
        <div class="info">
          <i class="fa-solid fa-circle-info fa-xl" style="color: #008000;"></i>
          <div class="popuptext">
            <p *ngIf="!user?.accountNameChanged">You can change the account name only once. Make sure this is the
              account
              name you want!</p>
            <p *ngIf="user?.accountNameChanged">You have changed the account name already!</p>
          </div>
        </div>
      </div>

      <label for="country">Which country do you live in?</label>
      <div class="flex-input">
        <select formControlName="country" id="country">
          <option [ngValue]="null" disabled>Country...</option>
          <option *ngFor="let country of countries" [ngValue]="country" (selected)="country==user?.country">
            {{country}}
          </option>
        </select>
      </div>

      <label for="gender" required>Gender:</label>
      <div class="flex-input">
        <div id="gender">
          <div id="gender">
            <input type="radio" id="male" formControlName="gender" value="M">
            <label for="html">Male</label>
            <input type="radio" id="female" formControlName="gender" value="W">
            <label for="css">Female</label>
            <input type="radio" id="unknown" formControlName="gender" value="unknown">
            <label for="unknown">Prefer not to say</label>
          </div>
        </div>
      </div>

      <label for="fileInput">Upload Profile Image:</label>
      <div class="flex-input">
        <div>
          <input type="file" formControlName="fileInput" accept=".jpg, .jpeg, .png, .webp"
            (change)="onFileSelected($event)" id="fileInput">
          <label for="removeImage" class="removeImage">Remove Image</label>
          <input type="checkbox" formControlName="removeImage" id="removeImage">
        </div>
        <div class="info">
          <i *ngIf="form.get('fileInput')?.invalid && (form.get('fileInput')?.dirty || form.get('fileInput')?.touched)"
            class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
          <div class="popuptext">
            <p class="error">Image max size - 32MB.</p>
          </div>
        </div>
      </div>

      <button class="btn-cancel" (click)="toggleEditMode()">Cancel</button>
      <button class="submit">Submit</button>
    </form>
  </div>


  <div class="profile-container" *ngIf="!editMode">
    <h2 class="info-title">Profile Info</h2>

    <div class="imageContainer">
      <ng-container *ngIf="user?.image?.imgUrl">
        <img src="{{user?.image?.imgUrl}}" alt="" class="profile">
      </ng-container>
      <ng-container *ngIf="!user?.image?.imgUrl">
        <img *ngIf="user?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="user?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="user?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png" alt="Prolife">
      </ng-container>
    </div>

    <div class="info-profile-container">

      <p class="label">User email:</p>
      <p class="info">{{user?.email}}</p>

      <p class="label">Username:</p>
      <p class="info">{{user?.username}}</p>


      <p class="label">Country:</p>
      <p class="info">{{user?.country}}</p>

      <p class="label">Gender:</p>
      <p class="info">{{user?.gender}}</p>

      <p class="label">Account Name:</p>
      <p class="info">{{user?.accountName}}</p>

    </div>

    <button class="btn-edit" (click)="toggleEditMode()">Edit</button>
  </div>
</ng-container>