.profile-container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  margin-top: 2rem;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
  border-radius: 1rem;
}

.info-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 2.5rem;
  text-align: center;
  color: #f5f5f5;
}

.profile-container .edit-form {
  width: 50%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.profile-container .edit-form label {
  color: #f5f5f5;
  font-size: 1.5rem;
}

.profile-container .edit-form input,
.profile-container .edit-form select {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: auto;
}

.profile-container .edit-form select {
  margin: 0.75rem 0;
}

.profile-container #gender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.profile-container #gender input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5rem;
  align-self: center;
}

.profile-container .edit-form button {
  margin: auto;
  width: 50%;
  color: #f5f5f5;
  padding: 0.25rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.profile-container .edit-form button.btn-cancel {
  background-color: rgb(139, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.profile-container .edit-form button.submit {
  background-color: rgb(0, 0, 139);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

form .flex-input {
  display: flex;
  align-items: center;
}

form .flex-input .info {
  position: relative;
}

form .flex-input .radio-info {
  margin-left: 2rem;
}

form .flex-input .info .popuptext {
  position: absolute;
  top: 2rem;
  left: 125%;
  width: 250px;
  border: 1px #000 solid;
  border-radius: 1rem;
  background: #f8f8f8;
  padding: 10px;
  z-index: 1;
  display: none;
  opacity: 0;
  transition: 750ms all;
}

form .flex-input .info:hover .popuptext {
  display: inline;
  outline: none;
  text-decoration: none;
  color: #000;
  opacity: 1;
}

form .flex-input i {
  margin-left: 0.5rem;
}

/* Hoover Header components */

.profile-container button:hover {
  color: lightgreen;
  background-color: rgba(0, 51, 255, 0.856);
  border-color: rgba(0, 51, 255, 0.432);
  transition: 300ms;
}

.info-profile-container {
  display: grid;
  width: 50%;
  margin: 2rem auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem black;
  row-gap: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  border: 2px solid black;
  border-radius: 2rem;
}

.info-profile-container p {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
}

.info-profile-container p.info {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

button.btn-edit {
  width: 12%;
  margin: 2rem auto;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 255, 255, 0.5);
  background-color: rgba(0, 255, 255, 0.189);
  cursor: pointer;
  color: #f5f5f5;
}

p.correct {
  color: darkgreen;
}

p.error {
  color: darkred;
}

p.serverErrors {
  text-align: center;
}

p.error.serverErrors {
  text-align: center;
  background-color: #f5f5f5;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 2rem;
  width: 50%;
  margin: 0 auto;
}

#email {
  background-color: #c0c580;
  color: #6d6d6d;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
