.container {
  padding: 0.5rem;
  border-radius: 1rem;
}

.container a {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  gap: 1rem;
  align-self: center;
  margin-bottom: 1rem;
  text-decoration: none;
}

.img-container {
  grid-area: "image";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.img-container img {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}

.account-name,
.content {
  text-align: end;
  color: #000;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
