<div id="create-form-container">
  <h2>Create</h2>
  <p class="error api-error" *ngIf="apiError">{{ apiError }}</p>
  <form [formGroup]="form" (submit)="createDestination()" id="create-form">

    <label for="name">Destination Name:</label>
    <div class="flex-input">
      <input type="text" formControlName="name" id="name" placeholder="Destination name...">
      <div class="info">
        <i *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
           class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="form.get('name')?.hasError('required')">
          <p class="error">The name is required!</p>
        </div>
        <div class="popuptext" *ngIf="form.get('name')?.hasError('minlength')">
          <p class="error">The name must be at least 5 characters!</p>
        </div>
      </div>
    </div>

    <label for="country">Select Country:</label>
    <div class="flex-input">
      <select formControlName="country" id="country" required>
        <option value="" selected disabled>Country...</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>
      <div class="info">
        <i *ngIf="form.get('country')?.invalid && (form.get('country')?.dirty || form.get('country')?.touched)"
           class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="form.get('country')?.hasError('required')">
          <p class="error">The country is required!</p>
        </div>
      </div>
    </div>

    <label for="description">Description:</label>
    <div class="flex-input">
      <textarea formControlName="description" id="description" cols="30" rows="10" placeholder="Description..."></textarea>
      <div class="info">
        <i *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
           class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="form.get('description')?.hasError('required')">
          <p class="error">The description is required!</p>
        </div>
        <div class="popuptext" *ngIf="form.get('description')?.hasError('minlength')">
          <p class="error">The description must be at least 20 characters!</p>
        </div>
      </div>
    </div>

    <div>
      <input type="file" formControlName="fileInput" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)">
      <div class="info">
        <p *ngIf="form.get('fileInput')?.invalid && (form.get('fileInput')?.dirty || form.get('fileInput')?.touched)"
           style="color: red">This field is required!</p>
      </div>
    </div>

    <button type="submit">Create</button>
  </form>
</div>
