<header>
    <nav>
        <ul>
            <li class="profile-nav" *ngIf="isLogged">
                <a routerLink="/auth/profile">
                    <ng-container *ngIf="userThumb">
                        <img src="{{userThumb}}" alt="Profile Image">
                    </ng-container>
                    <ng-container *ngIf="!userThumb">
                        <img *ngIf="userGender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
                        <img *ngIf="userGender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
                        <img *ngIf="userGender==='unknown'" src="/assets/profile-images/profile-unknown.png" alt="Prolife">
                    </ng-container>
                </a>
            </li>
            <li><a routerLink="/home">Home</a></li>
            <li *ngIf="isLogged"><a routerLink="/dest/user-list">User List</a></li>
            <li><a routerLink="/dest/posts-list">Posts List</a></li>
            <li *ngIf="isLogged"><a routerLink="/dest/create">Create Post</a></li>
            <li><a routerLink="/about">About</a></li>
            <li *ngIf="!isLogged"><a routerLink="/auth/register">Register</a></li>
            <li *ngIf="isLogged"><a routerLink="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="mini-header">
        <app-search-destination *ngIf="isLogged"></app-search-destination>
        <app-login *ngIf="!isLogged"></app-login>
    </div>
    <h1>My Free Space</h1>
</header>