/* HEADER */

header {
  display: grid;
  grid-template-areas:
    "nav nav form "
    "heading heading form ";
  margin: 0 0 auto 0;
  grid-template-columns: 60% 7% 33%;

  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem 0 1rem;
  border-radius: 1rem;
  height: 10.5rem;
}

header > nav {
  grid-area: nav;
}

header > nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

header > nav li a {
  text-decoration: none;
  margin-left: 1rem;
  color: #f5f5f5;
  font-size: 1.5rem;
  background-color: rgba(0, 255, 255, 0.407);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
}

/* PROFILE ANCHOR */

header > nav ul li.profile-nav {
  margin-left: 0;
  margin-right: auto;
  overflow: hidden;
  
}

header > nav ul li.profile-nav a {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
header > nav ul li.profile-nav a img {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}

header > h1 {
  grid-area: heading;
  text-align: center;
  padding-top: 0;
  font-style: italic;
}

header > nav li a:hover {
  color: lightgreen;
  background-color: rgba(0, 51, 255, 0.856);
  border-color: rgba(0, 51, 255, 0.432);
  transition: 300ms;
}

header > .mini-header {
  grid-area: form;
}