<header>
    <nav>
        <ul>
            <li class="profile-nav"><a routerLink="/profile"><img src="/assets/profile-images/profile-female.png"
                        alt="Prolife"></a></li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/user-list">User List</a></li>
            <li><a routerLink="/posts-list">Posts List</a></li>
            <li><a routerLink="/create">Create Post</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="mini-header">
        <app-search-destination style="display: none;"></app-search-destination>
        <app-login></app-login>
    </div>
    <h1>My Free Space</h1>
</header>