.destination-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  position: relative;
}

.destination-card h3 {
  font-style: italic;
  padding-top: 0.5rem;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.destination-card .img-container {
  width: 80%;
  margin: auto;
  border-radius: 0.5rem;
  height: 13rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.destination-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination-card .description {
  font-size: 1rem;
  padding: 0 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

.destination-card a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  color: #000000;
  background-color: rgba(0, 255, 34, 0.856);
  border: 1px solid rgba(0, 255, 34, 0.856);
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.1rem 0;
  width: 10rem;
}

.destination-card a:hover {
  color: #f5f5f5;
  background-color: rgb(0, 128, 0);
  transition: 150ms;
}

.destination-card .button-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.destination-card .button-container i {
  margin-left: 1rem;
}

.loader-container {
  margin: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dest-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 2rem;
}

.profile-image-container {
  height: 2.5rem;
  margin-left: 0;
  margin-right: auto;
  position: relative;
}

.profile-image-container a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.profile-image-container a img {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}

.profile-image-container .popuptext {
  position: absolute;
  display: none;
  top: 3rem;
  left: 50%;
  border: 1px #000 solid;
  border-radius: 1rem;
  background: #f8f8f8;
  opacity: 0;
  transition: 750ms all;
}

.profile-image-container .popuptext > p {
  padding: 0.25rem;
  font-size: 0.75rem;
  color: #467000;
}

.profile-image-container:hover .popuptext {
  display: inline;
  outline: none;
  text-decoration: none;
  color: #000;
  opacity: 1;
}
