<article class="destination-card">
  <ng-container *ngIf="!isLoading">
    <h3>{{dest.name}}</h3>
    <div class="img-container">
      <img src={{dest.img}} alt={{dest.name}}>
    </div>
    <p>{{dest.description}}</p>
    <div class="button-container">
      <a routerLink="/dest/details/{{dest._id}}" class="destination-details">Details</a>
      <div clsaa="info-holder">
        <i class="fa-solid fa-comment" style="color: #008000;"></i><span>{{dest.commentCount}}</span>
        <i class="fa-brands fa-gratipay" style="color: #800000;"></i><span>{{dest.likeCount}}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="loader-container">
      <app-spinner></app-spinner>
    </div>
  </ng-container>
</article>