<div id="register-form-container">
  <h2>Register</h2>
  <p *ngIf="apiError" class="error serverErrors">{{apiError}}</p>

  <app-spinner *ngIf="loading"></app-spinner>

  <form #form="ngForm" (submit)="register(form)" id="register-form" *ngIf="!loading">

    <label for="Email">User email:</label>
    <div class="flex-input">
      <input type="email" name="email" id="email" placeholder="Email" ngModel #emailInput="ngModel" required email>

      <div class="info">
        <i *ngIf="!emailInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="emailInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="emailInput.errors">
          <p [ngClass]="emailInput.errors['required'] ? 'error' : 'correct'">The email is required!</p>
          <hr>
          <p [ngClass]="(emailInput.errors['email'] || emailInput.value==='') ? 'error' : 'correct'">Invalid email!
          </p>
        </div>
      </div>

    </div>

    <label for="username">Username:</label>
    <div class="flex-input">
      <input type="username" name="username" id="username" placeholder="Username" ngModel #usernameInput="ngModel"
        required minlength="5">

      <div class="info">
        <i *ngIf="!usernameInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="usernameInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="usernameInput.errors">
          <p [ngClass]="usernameInput.errors['required'] ? 'error' : 'correct'">The username is required!</p>
          <hr>
          <p [ngClass]="(usernameInput.errors['minlength']) ? 'error' : 'correct'">The username must be at least 5
            characters!</p>
        </div>
      </div>

    </div>

    <label for="password">Password:</label>
    <div class="flex-input">
      <input type="password" name="password" id="password" placeholder="Password" ngModel #passwordReInput="ngModel"
        required minlength="8" appPasswordValidator>

      <div class="info">
        <i *ngIf="!passwordReInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="passwordReInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="passwordReInput.errors">
          <p [ngClass]="passwordReInput.errors['required'] ? 'error' : 'correct'">The password is required!</p>
          <hr>
          <p [ngClass]="(passwordReInput.errors['minlength'] || passwordReInput.value==='') ? 'error' : 'correct'">The
            password must be
            at least 8 characters!</p>
          <hr>
          <p
            [ngClass]="(passwordReInput.errors['hasLowerCaseValidator']) ? 'error' : 'correct'">
            The
            password must contain a lower case!</p>
          <hr>
          <p
            [ngClass]="(passwordReInput.errors['hasUpperCaseValidator']) ? 'error' : 'correct'">
            The
            password must contain an upper case!</p>
          <hr>
          <p
            [ngClass]="(passwordReInput.errors['hasNumericValidator']) ? 'error' : 'correct'">
            The
            password must contain a number!</p>
          <hr>
          <p
            [ngClass]="(passwordReInput.errors['hasLSpecCharValidator']) ? 'error' : 'correct'">
            The
            password must contain a special character (*+=_!$%&)!</p>
        </div>

      </div>
    </div>

    <label for="rePassword">Repeat password:</label>
    <div class="flex-input">
      <input type="password" name="rePassword" id="rePassword" placeholder="Repeat password" ngModel
        #rePasswordReInput="ngModel" required minlength="8">

      <div class="info">
        <i *ngIf="passwordReInput.value===rePasswordReInput.value && !rePasswordReInput.errors"
          class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="passwordReInput.value!==rePasswordReInput.value || rePasswordReInput.errors"
          class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="passwordReInput.value!==rePasswordReInput.value || rePasswordReInput.value===''">
          <p *ngIf="passwordReInput.value===rePasswordReInput.value" class="correct">Passwords match!</p>
          <p *ngIf="passwordReInput.value!==rePasswordReInput.value" calss="error">Passwords do not match!</p>
        </div>
      </div>
    </div>

    <label for="country">Which country do you live in?</label>
    <div class="flex-input">
      <select name="country" id="country" ngModel #countryInput="ngModel" required>
        <option value="" selected disabled>country...</option>
        <option *ngFor="let country of countries" [ngValue]="country">
          {{country}}
        </option>
      </select>
      

      <div class="info">
        <i *ngIf="!countryInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="countryInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="countryInput.errors">
          <p [ngClass]="countryInput.errors['required'] ? 'error' : 'correct'">Your country is required!</p>
        </div>
      </div>

    </div>

    <label for="gender">Gender:</label>
    <div class="flex-input">
      <div id="gender">
        <input type="radio" id="male" name="gender" value="M" ngModel #genderInput="ngModel" required>
        <label for="html">Male</label>
        <input type="radio" id="female" name="gender" value="W" ngModel #genderInput="ngModel" required>
        <label for="css">Female</label>
        <input type="radio" id="unknown" name="gender" value="unknown" ngModel #genderInput="ngModel" required>
        <label for="unknown">Prefer not to say</label>
      </div>

      <div class="info radio-info">
        <i *ngIf="!genderInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="genderInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="genderInput.errors">
          <p [ngClass]="genderInput.errors['required'] ? 'error' : 'correct'">You have to select one of the
            options!</p>
        </div>
      </div>

    </div>

    <div></div>
    <button>Register</button>
  </form>
</div>
<!-- 
email: "peter@abv.bg",
username: "Peter",
hashedPassword: "83313014ed3e2391aa1332615d2f053cf5c1bfe05ca1cbcb5582443822df6eb1",
country: "BG",
gender: "M"
-->