<app-spinner *ngIf="loading"></app-spinner>

<div class="container" *ngIf="!editMode && !loading">
  <p *ngIf="apiError" class="error serverErrors">{{apiError}}</p>

  <h2 class="title">{{destination.name}}</h2>
  <div class="img-container"><img src="{{destination.img}}" alt="Salar de Uyuni"></div>
  <p class="country">Country: {{destination.country}}</p>
  <p class="description">{{destination.description}}</p>
  <div class="feedback-container">

    <div class="coments-container">
      <h3>Comments</h3>
      <ng-container *ngIf="commentsLoading">
        <app-spinner></app-spinner>
      </ng-container>
      <ng-container *ngIf="!commentsLoading">
        <div class="comments">
          <ng-container *ngIf="comments">
            <ng-container *ngFor="let comment of comments">
              <app-comment [comment]="comment" (removeCurrentComment)="removeComment($event)"></app-comment>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="comments.length===0">
            <p class="no-comment">There is no comments yet. Do you wanna be the first left one?</p>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="btn-container" *ngIf="isLogged">
      <ng-container *ngIf="likesLoading">
        <app-mini-spinner></app-mini-spinner>
      </ng-container>

      <ng-container *ngIf="!likesLoading">
        <p class="likes-sum"><i class="fa-sharp fa-solid fa-heart" style="color: #93033f;"></i> Likes: {{likes}}
          <i class="fa-sharp fa-solid fa-heart" style="color: #93033f;"></i>
        </p>

        <button class="btn-like" *ngIf="!isOwner && !hasLiked"
          (click)="giveLike()"><i class="fa-sharp fa-solid fa-heart" style="color: #DB005B;"></i> Like</button>
        <!-- fa-beat -->

        <button class="btn-like" *ngIf="!isOwner && hasLiked"
          (click)="removeLike()"><i class="fa-sharp fa-solid fa-heart-crack" style="color: #DB005B;"></i>
          Dislike</button>
      </ng-container>

      <button class="btn-edit" *ngIf="isOwner" (click)="toggleEditMode()"><i
          class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i> Edit</button>

      <button class="btn-delete" *ngIf="isOwner && !deleteMsgDisplayed"
        (click)="deleteMsgDisplayedToggle()"><i class="fa-regular fa-trash-can" style="color: #004000;"></i>
        Delete</button>

      <div class="delete-confirm" *ngIf="deleteMsgDisplayed">
        <p>Do you want to delete your destination?</p>
        <button class="btn-delete" *ngIf="isOwner"
          (click)="deleteMsgDisplayedToggle()"><i class="fa-solid fa-xmark fa-lg" style="color: #800000;"></i>
          Cancel</button>
        <button class="btn-delete" *ngIf="isOwner" (click)="deleteDestination()"><i
            class="fa-regular fa-trash-can" style="color: #004000;"></i>
          Delete</button>
      </div>

      <button class="btn-lcom" *ngIf="!leaveCommentDisplayed" (click)="toggleCommentForm()"><i
          class="fa-solid fa-comment-dots" style="color: #004000;"></i> Leave a comment</button>

    </div>
  </div>
  <div class="leave-comment" *ngIf="leaveCommentDisplayed">
    <form #formComment="ngForm" (submit)="leaveComment(formComment)">
      <textarea name="comment" id="comment" cols="35" rows="2" ngModel #commentInput="ngModel" required minlength="10"
        maxlength="80"></textarea>
      <div class="info comment-form-errors">
        <p [ngClass]="commentInput.errors?.['minlength'] || commentInput.value === '' ? 'error' : 'correct'">The
          description must be at least 10 haracters!</p>
      </div>
      <button class="btn-sub" (click)="toggleCommentForm()"><i class="fa-solid fa-xmark fa-lg"
          style="color: #800000;"></i> Cancel</button>
      <button class="btn-sub" [disabled]="commentInput.errors"><i class="fa-solid fa-check fa-lg"
          style="color: #004000;"></i> Submit</button>
    </form>
  </div>
  <p class="created-on"><time>Posted {{destination._createdOn}}</time></p>
</div>

<div id="edit-form-container" *ngIf="editMode && !loading">
  <h2>Create</h2>
  <form #formEdit="ngForm" (submit)="editDestination(formEdit)" id="create-form">

    <label for="name">Destination Name:</label>
    <div class="flex-input">
      <input type="text" name="name" id="name" placeholder="Destination name..." [ngModel]="destination.name"
        #nameInput="ngModel" minlength="5">
      <div class="info">
        <i *ngIf="!nameInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="nameInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="nameInput.errors">
          <p [ngClass]="nameInput.errors['required'] ? 'error' : 'correct'">The name is required!</p>
          <hr>
          <p [ngClass]="(nameInput.errors['minlength']) ? 'error' : 'correct'">The name must be at least 5
            characters!</p>
        </div>
      </div>
    </div>

    <label for="country">Select Country:</label>
    <div class="flex-input">
      <select name="country" id="country" [ngModel]="destination.country" #countryInput="ngModel" required>
        <option [ngValue]="null" disabled>Country...</option>
        <option *ngFor="let country of countries" [ngValue]="country">
          {{country}}
        </option>
      </select>
      <div class="info">
        <i *ngIf="!countryInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="countryInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="countryInput.errors">
          <p [ngClass]="countryInput.errors['required'] ? 'error' : 'correct'">The country is required!</p>
        </div>
      </div>
    </div>

    <label for="description">Description:</label>
    <div class="flex-input">
      <textarea name="description" id="description" cols="30" rows="10" placeholder="Description..."
        [ngModel]="destination.description" #descriptionInput="ngModel" required minlength="20"></textarea>
      <div class="info">
        <i *ngIf="!descriptionInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="descriptionInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="descriptionInput.errors">
          <p [ngClass]="descriptionInput.errors['required'] ? 'error' : 'correct'">The description is required!</p>
          <hr>
          <p [ngClass]="(descriptionInput.errors['minlength']) ? 'error' : 'correct'">The description must be at least
            20
            characters!</p>
        </div>
      </div>
    </div>

    <label for="img">Image URL:</label>
    <div class="flex-input">
      <input type="text" name="img" ig="img" placeholder="Image URL..." [ngModel]="destination.img"
        #imageUrlInput="ngModel" required>
      <div class="info">
        <i *ngIf="!imageUrlInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="imageUrlInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="imageUrlInput.errors">
          <p [ngClass]="imageUrlInput.errors['required'] ? 'error' : 'correct'">The imageURL is required!</p>
          <!-- <hr>
          <p [ngClass]="(imageUrlInput.errors['minlength']) ? 'error' : 'correct'">The username must be at least 5
            characters!</p> -->
        </div>
      </div>
    </div>

    <button (click)="toggleEditMode()" class="btn-cancel">Cancel</button>
    <button class="btn-create">Edit</button>
  </form>
</div>

<!-- /*
"_id": 0,
      "name": "Salar de Uyuni",
      "country": "Bolivia",
      "description": "The worlds largest salt flat, it creates a mirror effect after the rain.",
      "_ownerId": "35c62d76-8152-4626-8712-eeb96381bea8",
      "img": "/assets/destination-images/salar-de-uyuni.webp",
      "_createdOn": 1689698702962
*/ -->