<div class="container">
  <h2 class="title">Salar de Uyuni</h2>
  <div class="img-container"><img src="/assets/destination-images/salar-de-uyuni.webp" alt="Salar de Uyuni"></div>
  <p class="country">Country: Bolivia</p>
  <p class="description">The worlds largest salt flat, it creates a mirror effect after the rain.</p>
  <div class="feedback-container">
    <div class="coments-container">
      <h3>Comments</h3>
      <div class="comments">
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like"><i class="fa-sharp fa-solid fa-heart"  style="color: #ff0000;"></i> Like</button>
            <button class="btn-edit"><i class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i> Edit</button>
            <button class="btn-delete"><i class="fa-regular fa-trash-can" style="color: #004000;"></i> Delete</button>
          </div>
        </div>
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like"><i class="fa-sharp fa-solid fa-heart"  style="color: #ff0000;"></i> Like</button>
            <button class="btn-edit"><i class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i> Edit</button>
            <button class="btn-delete"><i class="fa-regular fa-trash-can" style="color: #004000;"></i> Delete</button>
          </div>
        </div>
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like">Like</button>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like">Like</button>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like">Like</button>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, perferendis.</p>
          <div class="btn-coment-container">
            <button class="btn-like">Like</button>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn-like"><i class="fa-sharp fa-solid fa-heart"  style="color: #DB005B;"></i> Like</button> <!-- fa-beat -->
      <button class="btn-like"><i class="fa-sharp fa-solid fa-heart-crack" style="color: #DB005B;"></i> Dislike</button>
      <button class="btn-edit"><i class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i> Edit</button>
      <button class="btn-delete"><i class="fa-regular fa-trash-can" style="color: #004000;"></i> Delete</button>
      <button class="btn-lcom"><i class="fa-solid fa-comment-dots" style="color: #004000;"></i> Leave a comment</button>
    </div>
  </div>
  <div class="leave-comment">
    <form>
      <textarea name="comment" id="comment" cols="50" rows="5"></textarea>
      <button class="btn-sub">Submit</button>
    </form>
  </div>
  <p class="created-on"><time>Posted 1689698702962</time></p>

</div>

<!-- /*
"_id": 0,
      "name": "Salar de Uyuni",
      "country": "Bolivia",
      "description": "The worlds largest salt flat, it creates a mirror effect after the rain.",
      "_ownerId": "35c62d76-8152-4626-8712-eeb96381bea8",
      "img": "/assets/destination-images/salar-de-uyuni.webp",
      "_createdOn": 1689698702962
*/ -->