<div class="container" *ngIf="!editMode">
  <h2 class="title">{{destination.name}}</h2>
  <div class="img-container"><img src="{{destination.img}}" alt="Salar de Uyuni"></div>
  <p class="country">Country: {{destination.country}}</p>
  <p class="description">{{destination.description}}</p>
  <div class="feedback-container">
    <div class="coments-container">
      <h3>Comments</h3>
      <div class="comments">
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
      </div>
    </div>

    <div class="btn-container" *ngIf="!isLogged">
      <p class="likes-sum"><i class="fa-sharp fa-solid fa-heart" style="color: #DB005B;"></i> Likes: 5</p>
    </div>
    <div class="btn-container" *ngIf="isLogged">
      <button class="btn-like" *ngIf="this.user?._id !== this.destination._ownerId"><i
          class="fa-sharp fa-solid fa-heart" style="color: #DB005B;"></i> Like</button>
      <!-- fa-beat -->

      <button class="btn-like" *ngIf="this.user?._id !== this.destination._ownerId"><i
          class="fa-sharp fa-solid fa-heart-crack" style="color: #DB005B;"></i> Dislike</button>

      <button class="btn-edit" *ngIf="this.user?._id === this.destination._ownerId" (click)="toggleEditMode()"><i
          class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i> Edit</button>

      <button class="btn-delete" *ngIf="this.user?._id === this.destination._ownerId"><i class="fa-regular fa-trash-can"
          style="color: #004000;"></i> Delete</button>

      <button class="btn-lcom"><i class="fa-solid fa-comment-dots" style="color: #004000;"></i> Leave a comment</button>
    </div>
  </div>
  <div class="leave-comment">
    <form>
      <textarea name="comment" id="comment" cols="50" rows="5"></textarea>
      <button class="btn-sub">Submit</button>
    </form>
  </div>
  <p class="created-on"><time>Posted {{destination._createdOn}}</time></p>
</div>

<div id="edit-form-container" *ngIf="editMode">
  <h2>Create</h2>
  <p class="error api-error" *ngIf="apiError">{{apiError}}</p>
  <form #form="ngForm" (submit)="editDestination(form)" id="create-form">

    <label for="name">Destination Name:</label>
    <div class="flex-input">
      <input type="text" name="name" id="name" placeholder="Destination name..." [ngModel]="destination.name"
        #nameInput="ngModel" [required]="nameInput.value===''" minlength="5">
      <div class="info">
        <i *ngIf="!nameInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="nameInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="nameInput.errors">
          <p [ngClass]="nameInput.errors['required'] ? 'error' : 'correct'">The name is required!</p>
          <hr>
          <p [ngClass]="(nameInput.errors['minlength']) ? 'error' : 'correct'">The name must be at least 5
            characters!</p>
        </div>
      </div>
    </div>

    <label for="country">Select Country:</label>
    <div class="flex-input">
      <select name="country" id="country" [ngModel]="destination.country" #countryInput="ngModel" required>
        <option [ngValue]="null" disabled>Country...</option>
        <option *ngFor="let country of countries" [ngValue]="country">
          {{country}}
        </option>
      </select>
      <div class="info">
        <i *ngIf="!countryInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="countryInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="countryInput.errors">
          <p [ngClass]="countryInput.errors['required'] ? 'error' : 'correct'">The country is required!</p>
        </div>
      </div>
    </div>

    <label for="description">Description:</label>
    <div class="flex-input">
      <textarea name="description" id="description" cols="30" rows="10" placeholder="Description..."
        [ngModel]="destination.description" #descriptionInput="ngModel" required minlength="20"></textarea>
      <div class="info">
        <i *ngIf="!descriptionInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="descriptionInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="descriptionInput.errors">
          <p [ngClass]="descriptionInput.errors['required'] ? 'error' : 'correct'">The description is required!</p>
          <hr>
          <p [ngClass]="(descriptionInput.errors['minlength']) ? 'error' : 'correct'">The description must be at least
            20
            characters!</p>
        </div>
      </div>
    </div>

    <label for="img">Image URL:</label>
    <div class="flex-input">
      <input type="text" name="img" ig="img" placeholder="Image URL..." [ngModel]="destination.img"
        #imageUrlInput="ngModel" required>
      <div class="info">
        <i *ngIf="!imageUrlInput.errors" class="fa-solid fa-circle-check fa-lg" style="color: #008000;"></i>
        <i *ngIf="imageUrlInput.errors" class="fa-solid fa-circle-exclamation fa-lg" style="color: #800000;"></i>
        <div class="popuptext" *ngIf="imageUrlInput.errors">
          <p [ngClass]="imageUrlInput.errors['required'] ? 'error' : 'correct'">The imageURL is required!</p>
          <!-- <hr>
          <p [ngClass]="(imageUrlInput.errors['minlength']) ? 'error' : 'correct'">The username must be at least 5
            characters!</p> -->
        </div>
      </div>
    </div>

    <button (click)="toggleEditMode()" class="btn-cancel">Cancel</button>
    <button class="btn-create">Create</button>
  </form>
</div>

<!-- /*
"_id": 0,
      "name": "Salar de Uyuni",
      "country": "Bolivia",
      "description": "The worlds largest salt flat, it creates a mirror effect after the rain.",
      "_ownerId": "35c62d76-8152-4626-8712-eeb96381bea8",
      "img": "/assets/destination-images/salar-de-uyuni.webp",
      "_createdOn": 1689698702962
*/ -->