form {
  margin-right: 1rem;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 0.25rem;
}

form label {
  color: #f5f5f5ac;
  font-size: 1rem;
}

form input,
form select {
  padding: 0 1rem;
  border-radius: 1rem;
  width: auto;
}

form select {
  height: 1.5rem;
  text-align: justify;
  align-self: center;
  line-height: 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  color: #000000;
  align-self: center;
}

form ng-select {
  width: 10px;
  background-color: #fff;
}

form .btn-container {
  display: flex;
  gap: 1rem;
}

form .mini-header-btn {
  width: 50%;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding: 0.1rem 0;
  background-color: rgba(0, 255, 255, 0.407);
  border-color: rgba(0, 255, 255, 0.189);
  cursor: pointer;
  color: #f5f5f5;
}

/* Hoover Header components */
form .mini-header-btn:hover {
  color: lightgreen;
  background-color: rgba(0, 51, 255, 0.856);
  border-color: rgba(0, 51, 255, 0.432);
  transition: 300ms;
}

