<form #form="ngForm" (submit)="getParams(form)">

  <label for="destination">Destination</label>
  <input name="name" id="name" type="text" placeholder="Destination..." #nameInput="ngModel" ngModel>

  <label for="country">Select Country</label>
  <select class="form-select" id="country" name="country" ngModel #countryInput="ngModel" required>
    <option value="" selected>all</option>
    <option *ngFor="let country of countries" [ngValue]="country">
      {{country}}
    </option>
  </select>
  
  <!-- <ng-select [items]="countries" [(ngModel)]="selectedCountry" [searchable]="true" [clearable]="true">
    <ng-option *ngFor="let country of countries" [value]="country">{{ country }}</ng-option>
  </ng-select> -->
  <div></div>
  <div class="btn-container">
    <button class="mini-header-btn"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    <button class="mini-header-btn" (click)="clearSearch(form)">Clear</button>
  </div>
</form>