<ng-container *ngIf="isLoading">
  <div>
    <app-mini-spinner></app-mini-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="comment">
    <ng-container *ngIf="editFormDisplayed">
      <form #formComment="ngForm" (submit)="editComment(formComment)">
        <textarea name="content" id="comment" [ngModel]="comment.content" #contentInput="ngModel" required
          minlength="10" maxlength="80"></textarea>
        <div class="info comment-form-errors">
          <p [ngClass]="contentInput.errors?.['minlength'] || contentInput.value === '' ? 'error' : 'correct'">The
            description must be at least 10 haracters!</p>
        </div>
        <div class="btn-container">
          <button class="btn-sub" (click)="toggleEditFormDisplayed()"><i class="fa-solid fa-xmark fa-lg"
              style="color: #800000;"></i> Cancel</button>
          <button class="btn-sub" [disabled]="contentInput.errors"><i class="fa-solid fa-check fa-lg"
              style="color: #004000;"></i> Submit</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="!editFormDisplayed">
      <p class="comment-content">{{comment.content}}</p>
      <div class="btn-coment-container">
        <div class="warning-msg" *ngIf="deleteMsgDisplayed && isLogged">
          <p>Do you want to delete this comment</p>
          <button class="btn-delete" (click)="toggleDeleteMsgDisplayed()"><i class="fa-solid fa-xmark fa-lg"
              style="color: #800000;"></i> Cancel</button>
          <button class="btn-delete" (click)="deleteComment()"><i class="fa-regular fa-trash-can"
              style="color: #004000;"></i> Delete</button>
        </div>
        <p class="warning-msg" *ngIf="apiError!==''">{{apiError}}</p>
        <div class="btn-container" *ngIf="apiError==''">

          <p class="likes-cont"><i class="fa-sharp fa-solid fa-heart" style="color: #ff0000;"></i> Likes:
            {{likes}} <i class="fa-sharp fa-solid fa-heart" style="color: #ff0000;"></i></p>

          <button class="btn-like" *ngIf="isLogged && !hasLiked && !isOwner" (click)="giveLike()"><i
              class="fa-sharp fa-solid fa-heart" style="color: #ff0000;"></i>
            Like</button>

          <button class="btn-like" *ngIf="isLogged && hasLiked && !isOwner" (click)="removeLike()"><i
              class="fa-sharp fa-solid fa-heart-crack" style="color: #DB005B;"></i>
            Dislike</button>

          <button class="btn-edit" *ngIf="isLogged && isOwner" (click)="toggleEditFormDisplayed()"><i
              class="fa-solid fa-pen-to-square" style="color: #ff8040;"></i>
            Edit</button>

          <button class="btn-delete" *ngIf="isLogged && !deleteMsgDisplayed && isOwner"
            (click)="toggleDeleteMsgDisplayed()"><i class="fa-regular fa-trash-can" style="color: #004000;"></i>
            Delete</button>

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>