<div class="component-cotainer">
  <div class="messages-container">
    <div class="host-message">
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
      <div class="msg-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium, totam ipsa in qui harum,
          repudiandae
          sequi alias officia voluptatibus repellat voluptates, voluptatem impedit rerum aperiam accusantium
          exercitationem
          magnam. Aspernatur!loremSome Message</p>
      </div>
    </div>
    <div class="guest-message">
      <div class="msg-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, consequatur tempora voluptatum voluptate
          explicabo consectetur ullam, cupiditate aspernatur, iusto molestias dolores aliquam nobis eius deleniti
          veritatis
          fuga porro distinctio quia?Lorem ipsum dolor sit amet consectetur adipisicin</p>
      </div>
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
    </div>
    <div class="host-message">
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
      <div class="msg-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium, totam ipsa in qui harum,
          repudiandae
          sequi alias officia voluptatibus repellat voluptates, voluptatem impedit rerum aperiam accusantium
          exercitationem
          magnam. Aspernatur!loremSome Message</p>
      </div>
    </div>
    <div class="guest-message">
      <div class="msg-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, consequatur tempora voluptatum voluptate
          explicabo consectetur ullam, cupiditate aspernatur, iusto molestias dolores aliquam nobis eius deleniti
          veritatis
          fuga porro distinctio quia?Lorem ipsum dolor sit amet consectetur adipisicin</p>
      </div>
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
    </div>
    <div class="host-message">
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
      <div class="msg-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium, totam ipsa in qui harum,
          repudiandae
          sequi alias officia voluptatibus repellat voluptates, voluptatem impedit rerum aperiam accusantium
          exercitationem
          magnam. Aspernatur!loremSome Message</p>
      </div>
    </div>
    <div class="guest-message">
      <div class="msg-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, consequatur tempora voluptatum voluptate
          explicabo consectetur ullam, cupiditate aspernatur, iusto molestias dolores aliquam nobis eius deleniti
          veritatis
          fuga porro distinctio quia?Lorem ipsum dolor sit amet consectetur adipisicin</p>
      </div>
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
    </div>
    <div class="host-message">
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
      <div class="msg-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam praesentium, totam ipsa in qui harum,
          repudiandae
          sequi alias officia voluptatibus repellat voluptates, voluptatem impedit rerum aperiam accusantium
          exercitationem
          magnam. Aspernatur!loremSome Message</p>
      </div>
    </div>
    <div class="guest-message">
      <div class="msg-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, consequatur tempora voluptatum voluptate
          explicabo consectetur ullam, cupiditate aspernatur, iusto molestias dolores aliquam nobis eius deleniti
          veritatis
          fuga porro distinctio quia?Lorem ipsum dolor sit amet consectetur adipisicin</p>
      </div>
      <div class="img-container">
        <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
        <img src="/assets/profile-images/profile-male.png" alt="Prolife">
      </div>
    </div>
  </div>
  <div class="message-form-container">
    <form>
      <textarea name="content" id="content"></textarea>
      <button>Send Message</button>
    </form>
  </div>
</div>