<div class="host-message">
  <div class="img-container">
    <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
    <img src="/assets/profile-images/profile-male.png" alt="Prolife">
  </div>
  <div class="msg-content">
    <p>Some Message</p>
  </div>
</div>
<div class="guest-message">
  <div class="msg-content">
    <p>Some Message</p>
  </div>
  <div class="img-container">
    <!-- <ng-container *ngIf="comment._ownerId.image.thumbUrl">
          <img src="{{comment._ownerId.image.thumbUrl}}" alt="Profile Image">
      </ng-container>
      <ng-container *ngIf="!comment._ownerId.image.thumbUrl">
        <img *ngIf="comment._ownerId?.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
        <img *ngIf="comment._ownerId?.gender==='unknown'" src="/assets/profile-images/profile-unknown.png"
        alt="Prolife">
      </ng-container> -->
    <img src="/assets/profile-images/profile-male.png" alt="Prolife">
  </div>

</div>