.container {
  width: 100%;
  padding: 1.5rem;
  color: black;
  display: flex;
  align-items: flex-start;
}

.img-container {
  grid-area: "image";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}

.img-container img {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}

.msg-content {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.2rem;
  border-radius: 1rem;
}

.guest-message,
.host-message {
  text-align: right;
  align-items: center;
  gap: 1rem;
}

.host-message {
  justify-content: flex-start;
  height: auto;
}

.guest-message {
  justify-content: flex-end;
  height: auto;
}
