<div class="profile-container">
  <h2 class="info-title">{{user.accountName}}</h2>

  <div class="imageContainer">
    <ng-container *ngIf="user?.imgUrl">
      <img src="{{user.imgUrl}}" alt="" class="profile">
    </ng-container>
    <ng-container *ngIf="!user.imgUrl">
      <img *ngIf="user.gender==='M'" src="/assets/profile-images/profile-male.png" alt="Prolife">
      <img *ngIf="user.gender==='W'" src="/assets/profile-images/profile-female.png" alt="Prolife">
      <img *ngIf="user.gender==='unknown'" src="/assets/profile-images/profile-unknown.png" alt="Prolife">
    </ng-container>
  </div>

  <div class="info-profile-container">

    <p class="label">Country:</p>
    <p class="info">{{user.country}}</p>

    <p class="label">Gender:</p>
    <p class="info">{{user.gender}}</p>

    <p class="label"></p>
    <div class="btn-container">
      <div class="flex-info">
        <a routerLink="/dest/list/user/{{user._id}}" class="btn-destinations">{{user.destinationsCount}} <i class="fa-regular fa-map fa-lg"></i></a>
        <div class="popuptext">
          <p>Destinations</p>
        </div>
      </div>
      <!-- <div class="flex-info">
        <a href="" class="btn-message"><i class="fa-regular fa-envelope fa-lg"></i></a>
        <div class="popuptext">
          <p>Send Message</p>
        </div>
      </div>
      <div class="flex-info">
        <a href="" class="btn-chat"><i class="fa-regular fa-comments fa-lg"></i></a>
        <div class="popuptext">
          <p>Start Chat</p>
        </div>
      </div> -->

    </div>
  </div>

</div>